@import url('./global.css');
@import url('./components/Sidebar.css');
@import url('./components/AuthLayout.css');
@import url('./components/FormContainer.css');
@import url('./components/TaskSideDrawer.css');
@import url('./screens/HomeScreen.css');
@import url('./screens/ProjectScreen.css');
@import url('./screens/TeamScreen.css');
@import url('./screens/TaskScreen.css');
@import url('./components/ProjectCreateModal.css');
@import url('./miscellaneous.css');
@import url('./screens/MeetingScreen.css');
@import url('./screens/ChatScreen.css');
/* Emergency fix to ensure buttons are clickable */
.app-body {
  position: relative;
  z-index: 1; /* Ensures content sits above background layers */
}
