<?xml version='1.0' encoding='utf-8'?>
<widget id="com.collaborate.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Collaborate</name>
    <description>Collaborate academic peer-learning platform</description>
    <author email="support@collaborate.app" href="https://collaborate-1.onrender.com">
        Collaborate Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="Scheme" value="https" />
    <preference name="Hostname" value="localhost" />

    <plugin name="cordova-plugin-android-permissions" spec="^1.1.5" />
    <plugin name="collaborate-media-permissions" spec="./cordova-plugins/collaborate-media-permissions" />

    <platform name="android">
        <preference name="AndroidWindowSplashScreenBackground" value="#0f172a" />
        <preference name="StatusBarBackgroundColor" value="#0f172a" />
    </platform>
</widget>
